form{
    width:400px;
    margin:auto;
}

label{
    font-weight:bold;
}

input{
    width:100%;
    padding:8px;
    margin:6px 0 15px 0;
    border:1px solid #ccc;
    border-radius:4px;
}

button{
    width:100%;
    padding:10px;
    background:#2ecc71;
    color:white;
    font-size:16px;
}